extends ./templates/general.template.pug
include ./mixins/footer.mixin.pug

block title 
  title PayCP | Lịch sử thanh toán

block append style
  link(rel="stylesheet", href="/css/payment-history.css")

block bootstrapIcon

block content
  .container.mt-4.mb-2.flex-grow-1
    if paymentHistories && paymentHistories.length > 0
      table.table.table-striped.table-bordered.bg-white(style="box-shadow:var(--box-shadow)")
        thead
          tr
            th(scope="col") Mã giao dịch
            th(scope="col") Thời gian
            th(scope="col") Nội dung
            th(scope="col") Tổng tiền 
            th(scope="col") Số dư
            th(scope="col") Thông tin thẻ
        tbody
          each p in paymentHistories
            - const { transactionCode, createdDate, content, totalMoney, afterBalance, cardName, cardNumber, isPutMoney } = p;
            tr
              td= transactionCode
              td= helpers.formatDate(createdDate)
              td= content ? content : 'Không đề cập'
              td= `${isPutMoney ? '+' : '-'}${helpers.formatCurrency(totalMoney)}`
              td= helpers.formatCurrency(afterBalance)
              td= isPutMoney ? `${cardName} ...${cardNumber}` : '_'
    else 
      p.px-3.py-4.text-center.no-transaction Bạn chưa thực hiện bất kỳ giao dịch nào !

block footer 
  +footer(false)

block append script